{{ define "main"}}
    <main id="main">

<div class="page">
  <h1 class="page-title">404</h1>
  <p>Sajnálom, ez az URL egy nem létező oldalra mutat. Próbálkozz másképp:</p>
  <ul>
  <li>Kereshetsz <a href="/tags/">kulcsszóra</a> a bejegyzések között.</li>
  <li> Kereshetsz <a href="/categories/">kategóriákra </a> a bejegyzések között.</li>
  <li> Kereshetsz az <a href="/archives/">archívumban</a>, ha szeretnél.</li>
  </ul>
  <p>Vagy visszetérhetsz a <a href="/">kezdőoldalra</a> és kezdheted előlről.</p>
</div>
</main>
{{ end }}
